.projects {
    height: 150vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;
}

.pro-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 80%;
}