.projects {
    width: 100vw;
    flex-direction: column;
    padding-top: 1rem;
}

.pro-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 80%;
    grid-gap: 2rem;
}

.link {
    color: var(--btn);
}
.link:hover {
    text-decoration: underline;
}
