.project-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--rose);
    margin: 30px 3%;
    border-radius: 5px;
    padding: 10px;
}


.pro-img {
    height: auto;
    max-width: 100%;
    cursor: pointer;
}

.pro-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.pro-des {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.pro-link {
    width: 50%;
    padding: 5px;
    text-transform: capitalize;
    font-size: 1.2rem;
    background-color: var(--btn);
    color: var(--white);
    border: none;
    border-radius: 5px;
    transition:  all .3s ease;
    cursor: pointer;
}

.pro-link:hover {
    background-color: var(--btn-hover);
}


