.project-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--project-bg);
    border-radius: .25rem;
}


.pro-img {
    display: block;
    height: auto;
    max-width: 100%;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    padding: 0;
    transition: var(--transition);
    overflow: hidden;
}

.pro-img:hover {
    transform: scale(1.025);
}

.pro-title {
    font-family: var(--title);
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: .7rem .5rem 0;
}

.pro-des {
    font-family: var(--descrip);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: .4rem .5rem .8rem;
}

.pro-links {
    padding: .5rem .5rem 1rem .5rem;
}

.pro-link {
    background-color: var(--btn);
    color: var(--white);
    border: none;
    font-size: 1rem;
}



.pro-link:hover {
    background-color: var(--btn-hover);
}


