.skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;
}

.skill-grid {
    display:  grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 50%;
}