.about {
    height: 100vh;
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
}

.about-content {
    display: inline-block;
    padding: 40px;
}


.about-img {
    width: 100%;
    padding: 40px;
}
