.cta {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}


.home-btn {
	color: var(--lightblue);
	border: 2px solid var(--lightblue);
	background-color: none;
	margin-right: 5%;
}

.btn:hover {
	background-color: var(--rose);
	color: var(--background);
	border-color: var(--background);
}