.home {
    height: calc(100vh);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.text{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
}

.text .name{
    color:#033d99;
    font-size: 4rem;
}

.btn {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 20px;
    padding: 4px;
    width: 35%;
    background: none;
    border-radius: 5px;
    border: 2px solid #f5ba9f;
    color: #f5ba9f;
    cursor: pointer;
}

.btn:hover {
    color: #151a21;
    background-color: #f5ba9f;
    transition: all .2s ease;
}



