
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70px;
    transition: all .6s ease;
    color: #fff;
}
.navbar.sticky {
    color: #000;
    background-color: #fff;
    height: 80px;
}

.brand {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px;
    color: #fff;
}


.list {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.link {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0 10px;
    color: #fff;
}

.link:hover,
.brand:hover {
    font-weight: 700;
}
.brand.color,
.link.color {
    color: #000;
}