


.nav-btn {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: .5rem;
	font-size: 1.2rem;
	background-color: var(--red);
	color: var(--white);
	border: 2px solid var(--white);
	width: max-content;
	border-radius: .25rem;
	gap: .2rem;
	transition: var(--transition);
}

.nav-btn:hover {
	border: 2px solid var(--red);
}