@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

/*variables*/
:root {
    --title: 'Outfit', sans-serif;
    --descrip: 'Poppins', sans-serif;

    --background: #151a21;
    --white: #f6f4f3;
    --black: #000;
    --red:  #323366;
    --dark-green: #385378;
    --rose: #EB5B4E;
    --grey:  #d6d9ce;
    --lightblue: #c9ddff;
    --btn: #5479e8;
    --btn-hover: #033d99;
    --navbar-bg: #1f1616;
    --project-bg: #5e7191;

    --transition: all .3s ease;
    --lg-transition:  all .7s ease;
}



/*general styles*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
        display: none;
}

body {
    font-family: var(--descrip);
    background-color: var(--background);
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

/*container styles*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*buttons styles*/


.btn {
    overflow: hidden;
    width: fit-content;
    border-radius: .5rem;
    padding: .5rem;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 600;
    font-size: 1rem;
    outline: none;
}

.contact-btn {
    color: var(--white);
    border: 2px solid var(--dark-green);
    background-color: var(--dark-green);
}
.contact-btn:hover {
    color: var(--white);
    border-color: 2px solid var(--dark-green);
}

.section-title {
    font-family: var(--title);
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 600;
    margin-bottom: 5px;
}

.section-des {
    font-family: var(--descrip);
    font-size: 1.1rem;
    padding: 5px 0 30px;
    color: var(--white);
    width: 60%;
    text-align: center;
}

.section-sub {
    color: var(--white);
    font-family: var(--descrip);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.subsection-des {
    font-family: var(--descrip);
    color: var(--white);
    font-size: 1.1rem;
}

.icon {
    margin: 0 .1rem;
    font-size: 2rem;
    border-radius: 5px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: all .3s ease;
}
